# Compiled class files
*.class

# Build folder
target/

# Eclipse-specific files
.classpath
.project
.settings/

# IntelliJ-specific files
.idea/
*.iml

# Logs
*.log

# Ignore environment-specific files
.env

# Ignore OS-specific files
.DS_Store
Thumbs.db

# Ignore package files
*.jar
*.war
*.ear
